
<div class="pag-historico">
  <div></div>
  <div class="tabela-paginacao">
    <div class="cpf-consultas">
      <label for="cpf">CPF</label>
      <input type="text" mask="000.000.000-00" [formControl]="campoCpf" id="cpf" />
    </div>
    <table>
      <thead>
        <th>Data</th>
        <th>Nome</th>
        <th>Motivo</th>
        <th>Diagnóstico</th>
        <th>Solicitação de retorno</th>
      </thead>
      <tbody [hidden]="atendimentosPorCpf" *ngIf="getAtendimentos.content.length !== 0, else semAtendimentos">
        <tr *ngFor="let atendimento of getAtendimentos.content; let i = index"
          (mouseover)="indexAtendimento = i"
          [@highlightedState]="indexAtendimento === i ? 'highlighted' : 'default'"
          class="areaClicavel" (click)="detalhesAtendimento(atendimento)">
          <td @listState>{{atendimento.consulta.data | date:'dd/MM/yyyy HH:mm' }}</td>
          <td @listState>{{atendimento.consulta.dadosPaciente.nome | encurtarNome }}</td>
          <td @listState>{{atendimento.consulta.motivo | slice:0:20 }}</td>
          <td @listState>{{atendimento.diagnostico | slice:0:20 }}</td>
          <td @listState>{{atendimento.solicitacaoRetorno | slice:0:20 }}</td>
        </tr>
      </tbody>
      <tbody [hidden]="!atendimentosPorCpf" *ngIf="atendimentosPorCpf$ | async">
        <tr *ngFor="let atendimento of getAtendimentosPorCpf.content; let i = index"
        (mouseover)="indexAtendimento = i"
        [@highlightedState]="indexAtendimento === i ? 'highlighted' : 'default'"
        class="areaClicavel" (click)="detalhesAtendimento(atendimento)">
          <td @listState>{{atendimento.consulta.data | date:'dd/MM/yyyy HH:mm' }}</td>
          <td @listState>{{atendimento.consulta.dadosPaciente.nome | encurtarNome}}</td>
          <td @listState>{{atendimento.consulta.motivo | slice:0:20 }}</td>
          <td @listState>{{atendimento.diagnostico | slice:0:20 }}</td>
          <td @listState>{{atendimento.solicitacaoRetorno | slice:0:20 }}</td>
        </tr>
      </tbody>
      <tbody *ngIf="atendimentosPorCpf && getAtendimentosPorCpf.content.length === 0" >
        <tr @listState>
          <td colspan="5" class="invalido">Paciente sem atendimentos</td>
        </tr>
      </tbody>
    </table>
    <div class="paginacao">
      <mat-icon class="material-symbols-outlined areaClicavel" (click)="mudarPagina(false)">arrow_back</mat-icon>
      <div>{{totalPaginas === 0 ? 0 : paginaAtual + 1}} de {{totalPaginas}}</div>
      <mat-icon class="material-symbols-outlined areaClicavel" (click)="mudarPagina(true)">arrow_forward</mat-icon>
    </div>
  </div>
  <div></div>
</div>

<ng-template #semAtendimentos>
  <tbody>
    <tr @listState>
      <td colspan="5" class="invalido">Sem atendimentos</td>
    </tr>
  </tbody>
</ng-template>
