<div class="container-home">
  <div class="home-bloco-esquerda">
    <div class="area-logo">
      <img class="logo" src="/assets/img/logos/logo03-sem-fundo.png"
      alt="Logo da clínica médica com mãos abertas e uma cruz">
    </div>
  </div>
  <div class="home-bloco-direita">
    <form [formGroup]="formulario" [@invalidShakeAnimation]="camposEmBranco" (ngSubmit)="onSubmit()">
      <span class="titulo-form">Login</span><br />
      <div class="container-form-home">
        <label for="nome_usuario">Login</label>
        <input type="text" id="nome_usuario" formControlName="usuario" placeholder="user" />
        <label for="senha_usuario">Senha</label>
        <input type="password" id="senha_usuario" formControlName="senha" placeholder="password" />
        <div *ngIf="erroLogin" class="mensagem-validacao">
          <app-mensagem [mensagemValidacao]="mensagemValidacao" ></app-mensagem>
        </div>
        <button type="submit">
          <mat-icon class="material-symbols-outlined">login</mat-icon>
        </button>
      </div>
  </form>
  </div>
</div>
