<div class="tabela-paginacao">
  <div class="cpf-consultas">
    <label>CPF</label>
    <input type="text" mask="000.000.000-00" [formControl]="campoCpf" id="cpfPaciente" />
  </div>
  <table>
    <thead>
      <tr>
        <!-- <th>COD.</th> -->
        <th>Nome</th>
        <th>Data de nasc.</th>
        <th>telefone</th>
      </tr>
    </thead>
    <tbody [hidden]="consultaPorCpf"
      *ngIf="getPacientes.content.length !== 0, else semPacientes">
      <tr *ngFor="let paciente of getPacientes.content; let i = index"
      (mouseover)="indexPaciente = i"
      [@highlightedState]="indexPaciente === i ? 'highlighted' : 'default'"
      class="areaClicavel" (click)="detalhesPaciente(paciente)">
        <!-- <td>{{paciente.id}}</td> -->
        <td @listState>{{paciente.nome | encurtarNome}}</td>
        <td @listState>{{paciente.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td @listState>{{paciente.telefone}}</td>
      </tr>
    </tbody>
    <tbody [hidden]="!consultaPorCpf" *ngIf="pacientesPorCpf$ | async">
      <tr *ngFor="let paciente of getPacientesPorCpf.content; let i = index"
      (mouseover)="indexPaciente = i"
      [@highlightedState]="indexPaciente === i ? 'highlighted' : 'default'"
      class="areaClicavel" (click)="detalhesPaciente(paciente)">
        <!-- <td>{{paciente.id}}</td> -->
        <td @listState>{{paciente.nome | encurtarNome}}</td>
        <td @listState>{{paciente.dataNascimento | date:'dd/MM/yyyy'}}</td>
        <td @listState>{{paciente.telefone}}</td>
      </tr>
    </tbody>
    <tbody *ngIf="consultaPorCpf && getPacientesPorCpf.content.length === 0" >
      <tr @listState>
        <td colspan="5">Não há mais pacientes</td>
      </tr>
    </tbody>
  </table>
  <div class="paginacao">
    <mat-icon class="material-symbols-outlined areaClicavel" (click)="mudarPagina(false)">arrow_back</mat-icon>
    <div>{{totalPaginas === 0 ? '1 de 1' : (paginaAtual + 1) + ' de ' + totalPaginas}}</div>
    <mat-icon class="material-symbols-outlined areaClicavel" (click)="mudarPagina(true)">arrow_forward</mat-icon>
  </div>
</div>

<ng-template #semPacientes >
  <tbody>
    <tr @listState>
      <td colspan="5">Sem pacientes</td>
    </tr>
  </tbody>
</ng-template>
