.formulario {
  display: grid;
  max-width: 400px;
  grid-template-columns: 1fr 1fr;
  margin: 20px 0;
}

button {
  grid-column: 1/3;
  border: none;
  margin-top: 5px;
}

button > mat-icon {
  width: fit-content;
  height: fit-content;
  font-size: 2.75rem;
}

.mensagem-validacao {
  grid-column: 1/3;
}
