<div class="container-grid">
  <div>
    <form class="formulario" [formGroup]="formulario" (ngSubmit)="registrar()">
      <label for="login" >Login<span>&nbsp;*</span></label>
      <input type="text" id="login" formControlName="login"
        [@shakeAnimation]="erroLogin ? 'invalido' : ''"
        (change)="validarLogin()"/>
      <div *ngIf="erroLogin" class="mensagem-validacao">
        <app-mensagem [mensagemValidacao]="msgValidacaoLogin" ></app-mensagem>
      </div>
      <label for="password" >Senha<span>&nbsp;*</span></label>
      <input type="password" id="password" formControlName="password"
        [@shakeAnimation]="erroSenha ? 'invalido' : ''"
        (change)="validarSenha()"/>
      <div *ngIf="erroSenha" class="mensagem-validacao">
        <app-mensagem [mensagemValidacao]="msgValidacaoSenha" ></app-mensagem>
      </div>
      <label >Perfil<span>&nbsp;*</span></label>
      <div>
        <input type="radio" formControlName="role" value="ATENDENTE"/>Atendente<br />
        <input type="radio" formControlName="role" value="MEDICO"/>Medico<br />
        <input type="radio" formControlName="role" value="ADMIN"/>Administrador
      </div>
      <div class="campos-obrigatorios">
        <span>* campos obrigatórios</span>
      </div>
      <button class="submit" type="submit" [disabled]="!formulario.valid"
        [@enabledButton]="formulario.valid ? 'enabled' : 'disabled'">
        <mat-icon class="material-symbols-outlined">forms_add_on</mat-icon>
      </button>
    </form>
  </div>
  <div>
    <div class="tabela-paginacao">
      <table>
        <thead>
          <tr>
            <th>Login</th>
            <th>Autorização</th>
          </tr>
        </thead>
        <tbody *ngFor="let usuario of getUsuarios.content, let i = index">
          <tr @listState class="areaClicavel" (click)="detalhesUsuario(usuario)"
            (mouseover)="indexUser = i" [@highlightedState]="indexUser === i ? 'highlighted' : 'default' " >
            <td>{{usuario.login}}</td>
            <td>{{usuario.role | titlecase}}</td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao">
        <mat-icon class="material-symbols-outlined areaClicavel" (click)="paginaAnterior()">arrow_back</mat-icon>
        <div>{{paginaAtual + 1}} de {{totalPaginas}}</div>
        <mat-icon class="material-symbols-outlined areaClicavel" (click)="proximaPagina()">arrow_forward</mat-icon>
      </div>
    </div>
  </div>
</div>
