<div class="container navbar navbar-expand-md">
  <span class="titulo-clinica navbar-brand" href="#">Clinica médica</span>
  <span class="titulo-tela">{{titulo}}</span>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul [ngClass]="class" class="navbar-nav mr-auto">
      @if (role === 'ADMIN' || role === 'ATENDENTE') {
        <li class="nav-item">
          <mat-icon mat-raised-button matTooltip="{{cabecalhoAtendenteInfo.tituloBtn}}"
          class="nav-link material-symbols-outlined btn-atendente" (click)="btnAtendenteEvent()">
            {{cabecalhoAtendenteInfo.btn}}
          </mat-icon>
          <span class="text-navbar areaClicavel" (click)="btnAtendenteEvent()">{{cabecalhoAtendenteInfo.tituloBtn}}</span>
        </li>
      }
      @if (role === 'ADMIN' || role === 'MEDICO') {
        <li class="nav-item">
          <mat-icon mat-raised-button matTooltip="{{cabecalhoMedicoInfo.tituloBtn}}"
          class="nav-link material-symbols-outlined btn-medico" (click)="btnMedicoEvent()">
            {{cabecalhoMedicoInfo.btn}}
          </mat-icon>
          <span class="text-navbar areaClicavel" (click)="btnMedicoEvent()">{{cabecalhoMedicoInfo.tituloBtn}}</span>
        </li>
      }
      @if (role === 'ADMIN') {
        <li class="nav-item">
          <mat-icon mat-raised-button matTooltip="{{cabecalhoAdminInfo.tituloBtn}}"
          class="nav-link material-symbols-outlined btn-admin" (click)="btnAdminEvent()">
            {{cabecalhoAdminInfo.btn}}
          </mat-icon>
          <span class="text-navbar areaClicavel" (click)="btnAdminEvent()">{{cabecalhoAdminInfo.tituloBtn}}</span>
        </li>
      }
      <li class="nav-item">
        <mat-icon mat-raised-button matTooltip="Sair"
          class="nav-link material-symbols-outlined icon-logout" (click)="btnSair()">
          logout
        </mat-icon>
        <span class="text-navbar areaClicavel" (click)="btnSair()">Sair</span>
      </li>
    </ul>
  </div>
</div>
