
.container {
  display:flex;
  justify-content: space-around;
}

.form-atendimento {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.grid-item {
  display: grid;
  grid-template-rows: 1fr;
}

.grid-item > label {
  display: block;
}

button {
  grid-column: 1 / 5;
  border: none;
  margin-top: 5px;
}

.btn-form > mat-icon {
  width: fit-content;
  height: fit-content;
  font-size: 2.75rem;
}

label {
  text-align:left;
}

textarea {
  resize: vertical;
  max-height: 200px;
  min-width: 50px;
  max-width: 300px;
}

.campos-obrigatorios {
  grid-column: 1/5;
  text-align: left;
  font-size: 0.9rem;
  font-weight: 500;
  color:#858585
}

div.campos-obrigatorios {
  margin-left: 15px;
}

@media (max-width:768px) {
  .container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width:600px) {
  .form-atendimento {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .grid-item {
    display: grid;
    width: fit-content;
    grid-template-columns: 100px 1fr;
    gap:15px;
  }

  .grid-item > label {
    display: inline-block;
  }

  button {
    grid-column:1/2;
  }

  .campos-obrigatorios {
    grid-column: 1/2;
  }

  textarea {
    min-width: 200px;
  }
}
