<div class="modal-confirm {{conteudo.confirmacao}}">
  <div class="modal-titulo">
    <mat-icon class="material-symbols-outlined" >{{matIcon}}</mat-icon>
    <h1 md-dialog-title>{{conteudo.titulo}}</h1>
  </div>
  <div md-dialog-content>
    <span>{{conteudo.mensagem}}</span>
    <div class="modal-table">
      <table>
        <thead>
          <tr>
            <th>Login</th>
            <th>Senha</th>
            <th>Autorização</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>{{conteudo.usuario.login}}</td>
            <td>{{textoSenha}}</td>
            <td>{{conteudo.usuario.role}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
