<div class="tabela-paginacao">
  <span class="titulo-tela-componente">Atendimentos do dia</span>
  <table>
    <thead>
      <th>Nome do paciente</th>
      <th>Motivo</th>
      <th>Horário</th>
      <th>Senha</th>
      <th>Consultar</th>
    </thead>
    <tbody *ngIf="atendimentosDoDia.content.length > 0, else semAtendimentos">
      <tr *ngFor="let atendimento of atendimentosDoDia.content, let i = index"
        (mouseover)="indexAtendimento = i"
        [@highlightedState]="indexAtendimento === i ? 'highlighted' : 'default'">
        <td @listState>{{atendimento.consulta.dadosPaciente.nome | encurtarNome}}</td>
        <td @listState>{{atendimento.consulta.motivo | slice:0:20 }}</td>
        <td @listState>{{atendimento.consulta.data | date:'HH:mm' }}</td>
        <td @listState>{{atendimento.consulta.senha}}</td>
        <td @listState *ngIf="atendimento.diagnostico !== null"
          [@enabledButton]="atendimento.diagnostico !== null ? 'enabled' : 'disabled'">
          <mat-icon class="material-symbols-outlined atendimento-realizado areaClicavel"
          (click)="emitirAtendimento(atendimento)" >
          done_outline
          </mat-icon>
        </td>
        <td @listState *ngIf="atendimento.diagnostico === null">
          <mat-icon class="material-symbols-outlined atendimento-a-realizar areaClicavel"
          (click)="emitirAtendimento(atendimento)" >
            indeterminate_check_box
          </mat-icon>
        </td>
      </tr>
    </tbody>
  </table>
</div>
<ng-template #semAtendimentos>
  <tbody>
    <td @listState colspan="5"  class="invalido">Sem atendimentos hoje</td>
  </tbody>
</ng-template>
