
.form-paciente {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.btn-form {
  grid-column: 1 / 3;
  border: none;
  margin-top: 5px;
}

button > mat-icon {
  width: fit-content;
  height: fit-content;
  font-size: 2.75rem;
}
