
<div class="container-grid">
  <div>
    <form class="form-paciente" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
      <label for="nome">Nome<span>&nbsp;*</span></label>
      <input type="text" formControlName="nome" id="nome" />
      <label for="cpf" >CPF<span>&nbsp;*</span></label>
      <div>
        <div class="input-btn-cpf">
          <input type="text" [@shakeAnimation]="cpfState" formControlName="cpf" mask="000.000.000-00"
            value="{{cpfRecebido | mask:'000.000.000-00'}}" (change)="validarCpf()" />
          <mat-icon mat-raised-button matTooltip="Gerar CPF (para testes)"
            class="material-symbols-outlined areaClicavel" (click)="gerarCpf()">manage_accounts</mat-icon>
        </div>
        <app-mensagem *ngIf="cpfInvalido" [mensagemValidacao]="{
          mensagem: 'CPF inválido',
          class: 'erro'
        }" ></app-mensagem>
      </div>
      <label for="dataNascimento" >Data de nascimento<span>&nbsp;*</span></label>
      <input type="date" max="{{dataAtual}}" formControlName="dataNascimento" id="dataNascimento" />
      <label for="telefone" >Telefone<span>&nbsp;*</span></label>
      <input type="text" mask="(00)000000009" formControlName="telefone" id="telefone" />
      <div class="campos-obrigatorios">
        <span>* campos obrigatórios</span>
      </div>
      <button type="submit" class="btn-form" [disabled]="disabled ? !formulario.valid : true"
        [@enabledButton]="formulario.valid ? 'enabled' : 'disabled'" >
        <mat-icon class="material-symbols-outlined">forms_add_on</mat-icon>
      </button>
    </form>
  </div>
  <div>
    <app-tabela-pacientes></app-tabela-pacientes>
  </div>
</div>
