<div class="tabela-paginacao" >
  <span class="titulo-tela-componente">Histórico do paciente</span>
  <table>
    <thead>
      <th>Nome do paciente</th>
      <th>Data e hora</th>
      <th>Motivo</th>
      <th>Diagnóstico</th>
    </thead>
    <tbody *ngIf="atendimentosPorCpf.content.length > 0, else semConsultas">
      <tr *ngFor="let atendimento of atendimentosPorCpf.content, let i = index"
      (mouseover)="indexAtendimento = i"
      [@highlightedState]="indexAtendimento === i ? 'highlighted' : 'default'"
      class="areaClicavel" (click)="detalhesAtendimento(atendimento)">
        <td @listState>{{atendimento.consulta.dadosPaciente.nome | encurtarNome }}</td>
        <td @listState>{{atendimento.consulta.data | date:'dd/MM/yyyy HH:mm'}}</td>
        <td @listState>{{atendimento.consulta.motivo | slice:0:20 }}</td>
        <td @listState>{{atendimento.diagnostico | slice:0:20 }}</td>
      </tr>
    </tbody>
  </table>
  <div class="paginacao">
    <mat-icon class="material-symbols-outlined areaClicavel" (click)="paginaAnterior()">arrow_back</mat-icon>
    <div>{{totalPaginas === 0 ? 0 : paginaAtual + 1}} de {{totalPaginas}}</div>
    <mat-icon class="material-symbols-outlined areaClicavel" (click)="proximaPagina()">arrow_forward</mat-icon>
  </div>
</div>
<ng-template #semConsultas>
  <tbody>
    <td @listState colspan="4" style="color:red">Sem histórico de atendimentos</td>
  </tbody>
</ng-template>
