<div class="container-grid">
  <div>
    <form class="container-form" [formGroup]="formulario" (ngSubmit)="onSubmit()" >
      <input
        type="hidden"
        formControlName="idPaciente"
      />
      <label for="cpf">CPF<span>&nbsp;*</span></label>
      <div style="vertical-align: middle;">
        <div class="input-btn-cpf">
          <input type="text" id="cpf" [@shakeAnimation]="cpfState" formControlName="cpf" mask="000.000.000-00"
          (blur)="validarCpf()" />
          <mat-icon mat-raised-button matTooltip="Gerar CPF (para testes)"
          class="material-symbols-outlined areaClicavel" (click)="gerarCpf()">manage_accounts</mat-icon>
        </div>
        <app-mensagem *ngIf="cpfInvalido" [mensagemValidacao]="{
          mensagem: 'CPF inválido',
          class: 'erro'
        }" ></app-mensagem>
      </div>
      <label for="data">Horario<span [hidden]="!dataForm">&nbsp;*</span></label>
      <div>
        <input type="date" id="data" min="{{dataAtualFormatada}}" formControlName="data" (change)="habilitarData()" />
        <input [hidden]="!dataForm" [required]="dataForm"
          type="time" id="time" step="3600" formControlName="hora" />
      </div>
      <label>Plano / particular<span>&nbsp;*</span></label>
      <select formControlName="planoParticular">
        <option value="Particular">Particular</option>
        <option value="Unimed">Unimed</option>
        <option value="Amil">Amil</option>
        <option value="Bradesco">Bradesco</option>
      </select>
      <label>Motivo<span>&nbsp;*</span></label>
      <textarea formControlName="motivo"></textarea>
      <div class="campos-obrigatorios">
        <span>* campos obrigatórios</span>
      </div>

      <button type="submit" [@enabledButton]="formulario.valid ? 'enabled' : 'disabled'"
        [disabled]="!(formulario.valid && !disabled)" >
        <mat-icon class="material-symbols-outlined">forms_add_on</mat-icon>
      </button>
    </form>
  </div>
  <div>
    <app-consultas-totais></app-consultas-totais>
  </div>
</div>
